body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.orange {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-top: 3%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Experience-item {
    width: 80%;
    padding-left: 3%;
    padding-right: 1%;
    margin-right: 12%;
    padding-top: 3%;
    padding-bottom: 1%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-right: 5px;
    padding-left: 10px;
    margin-right: 0px;
    margin-left: 20px;
}

#full-stack {
    border-left: 7px solid tomato;
}

#baby-web {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}